body{
    overflow-x: hidden;
}
#faIdeMenu{
    color: #D4D4D4;
}

.fa:hover{
    cursor: pointer;
    color: #fff;
}
#btnMenu:hover{
    cursor: pointer;
    border: 1px solid #c1c1c1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#secondMenu span i{
    font-size: 18px;
}

#conOutputIde{
    border-top: 1px solid #fff;
}

#outputIde{
    overflow: scroll;
    border-top: 1px solid #fff;
}

#urlOutputIde{
    height: 25px;
    width: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#outputMenu :hover{
    cursor: pointer;
}
